.card {
  margin: 20px;
  width: 295px;
  height: 380px;
  cursor: pointer;

// For displaying the basic info card.
  .folder {
    height: 100%;
    background-size: cover;
    position: relative;

    img:nth-child(1){
      width: 50%;
      position: absolute;
      top: 20%;
      right: 25%;
    }

    h2{
      position: absolute;
      top: 55%;
      text-align: center;
    }

    p {
      font-family: $cardFont;
      position: absolute;
      top: 85%;
      text-align: center;
      width: 90%;
    }

    img:nth-child(2){
      width: 70%;
      position: absolute;
      top: 5%;
      right: 15%;
      z-index: 1;
    }
  }

  // For displaying more info card.
  .more-info {
    padding: 8px 15px;
    font-family: $cardFont;
    position: relative;
    height: calc(100% - 10px);

    h2 {
      font-size: 18px;
    }

    p {
      font-size: 14px;
      line-height: 28px;
    }

    // For the title of the card and the number.
    >div:nth-child(1){
      @include flex(nowrap, space-between);
    }

    //For character info and image.
    >div:nth-child(2){
      @include flex(nowrap, space-between);

      img {
        width: 98%;
        object-fit: cover;
        border: 3px solid $imageBackground;
        margin-right: 10px;
      }

      div {
        width: 50%;
      }
      
    }

    .dead-stamp {
        height: 60%;
        position: absolute;
        top: 30%;
        left: 20%;
      }

    .red{
      color: red;
      text-align: center;
      margin-top: 10px;
    }
  }
}

// To make the cards display flex.
section {
  @include flex(wrap, space-around)
}