.card {
  overflow: hidden;
  border-radius: $borderRadius;
  background-color: $blueSearchBtn;
  margin: 20px auto;
  color: white;
  text-align: center;
  width: 70vw;
  height: 40vh;

  img {
    width: 100%;
    height: 85%;
    object-fit: cover;
  }

  p {
    padding: 5px 5px 10px;
  }
}