// Here are the styles for the second component: the dropdown character

.dropdown {
  //For the first ul (the one with thce selected characters)
  >div:nth-child(2){
    @include flex(nowrap, space-between);
    @include inputBorder();
    padding: 5px 8px;
    height: 36px;

    ul {
      @include flex(nowrap, flex-start);
      @include tagList();
      overflow: auto;
      white-space: nowrap;
      
      li {
        @include tag($blueLight);
        max-height: 25px;
      }
    }
  
    span {
      @include span();
    }
  
    p {
      cursor: pointer;
    }
  }

  //For the second ul (the dropdown list)
  >div:nth-child(3) {
    height: 20vh;
    overflow: scroll;
    @include inputBorder();
    border-top: 5px solid $blueSearchBtn;

    ul {
      @include tagList();
    }

    div {
      @include flex(nowrap, space-between);
      padding: 5px;
    }

    li {
      cursor: pointer;
    }

  }
}