// Here are the styles for the second component: the dropdown character

.dropdown {
  
  //For the first ul (the one with thce selected characters)
  >div:nth-child(1){
    @include flex(nowrap);
    @include inputBorder();
    justify-content: space-between;
    @include inputSizes;

    ul {
      @include flex(nowrap);
      @include tagList();

      
      
      li {
        @include tag($blueLight);
      }
    }
  
    span {
      @include span();
    }
  
    p {
      cursor: pointer;
    }
  }

  //For the second ul (the dropdown list)
  >div:nth-child(2) {
    height: 20vh;
    overflow: scroll;
    @include inputBorder();

    ul {
      @include tagList();
    }

    div {
      @include flex(nowrap);
      justify-content: space-between;
      padding: 5px;
    }

    li {
      cursor: pointer;

    }

    p {
      margin: 0;

    }
  }

  
}