// Here are the styles for the first component: the search bar.

.search-bar{
  margin-top: 4%;
  
  div {
    @include flex();
  }

  div div {
    @include flex();
    background-color: $blueLight;
    padding: 5px 10px;
    border-radius: $borderRadius;
    min-height: 30px;
    width: 75%;
    margin-right: 10px;
  }

  ul {
    @include flex();
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    background-color: white;
    width: auto;
    height: auto;
    padding: 3px 8px;
    margin: 3px 5px;
    border-radius: $borderRadius;
  }

  // This span wraps de icon for the cross on the list's elements.
  span {
    margin-left: 5px;
    font-size: 12px;
  }

  input {
    flex: 1;
		border: none;
    background-color: $blueLight;
    height: 30px;
  }
  
  input::placeholder {
    font-family: $mainFont;
  }

  button {
    height: 35px;
    padding: 5px 10px;
    font-family: $mainFont;
    border: none;
    border-radius: $borderRadius;
    background-color: $blueSearchBtn;
    color: white;
  }

  button:disabled {
    background-color: gray;
  }

  // The only paragraph is the one in the bottom of the component.
  p {
    font-size: 12px;
    margin-top: 5px;
  }
}
