// Here are the styles for the first component: the search bar.

.search-bar{
  margin-top: 4%;
  
  div {
    @include flex(wrap);
  }

  div div {
    @include flex(wrap);
    background-color: $blueLight;
    border-radius: $borderRadius;
    border: 1px solid $borderInput;
    min-height: $inputHeights;
    width: 70%;
    margin-right: 10px;
    padding: 5px 8px;

  }

  ul {
    @include flex(wrap);
    @include tagList();
  }

  li {
    @include tag(white);
  }

  // This span wraps de icon for the cross on the list's elements.
  span {
    @include span();
  }

  input {
    flex: 1;
		border: none;
    background-color: $blueLight;
    height: 30px;
  }
  
  input::placeholder {
    font-family: $mainFont;
  }

  button {
    height: 40px;
    padding: 5px 13px;
    font-family: $mainFont;
    border: none;
    border-radius: $borderRadius;
    background-color: $blueSearchBtn;
    color: white;
  }

  button:disabled {
    background-color: gray;
  }

  // The only paragraph is the one in the bottom of the component.
  p {
    font-size: 12px;
    margin-top: 5px;
  }
}
