//Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');

$mainFont: 'Poppins', sans-serif;
//Colors
//Color for the background input in first component and tags in second component.
$blueLight: #dae1f3;
//Color for the search button in first component  and some other details in second component.
$blueSearchBtn: #00aaaa;

$borderInput: #808393;
