@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap");
.search-bar {
  margin-top: 4%;
}

.search-bar div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.search-bar div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #dae1f3;
  border-radius: 5px;
  border: 1px solid #808393;
  min-height: 35px;
  width: 70%;
  margin-right: 10px;
  padding: 5px 8px;
}

.search-bar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  list-style: none;
  padding: 0;
  margin: 0;
}

.search-bar li {
  width: auto;
  padding: 3px 8px;
  margin: 3px 5px;
  border-radius: 5px;
  background-color: white;
  height: auto;
}

.search-bar span {
  margin-left: 5px;
  font-size: 12px;
  cursor: pointer;
}

.search-bar input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: none;
  background-color: #dae1f3;
  height: 30px;
}

.search-bar input::-webkit-input-placeholder {
  font-family: "Poppins", sans-serif;
}

.search-bar input:-ms-input-placeholder {
  font-family: "Poppins", sans-serif;
}

.search-bar input::-ms-input-placeholder {
  font-family: "Poppins", sans-serif;
}

.search-bar input::placeholder {
  font-family: "Poppins", sans-serif;
}

.search-bar button {
  height: 40px;
  padding: 5px 13px;
  font-family: "Poppins", sans-serif;
  border: none;
  border-radius: 5px;
  background-color: #00aaaa;
  color: white;
}

.search-bar button:disabled {
  background-color: gray;
}

.search-bar p {
  font-size: 12px;
  margin-top: 5px;
}

.dropdown > div:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid #808393;
  border-radius: 5px;
  padding: 5px 8px;
  height: 36px;
}

.dropdown > div:nth-child(2) ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: auto;
  white-space: nowrap;
}

.dropdown > div:nth-child(2) ul li {
  width: auto;
  padding: 3px 8px;
  margin: 3px 5px;
  border-radius: 5px;
  background-color: #dae1f3;
  max-height: 25px;
}

.dropdown > div:nth-child(2) span {
  margin-left: 5px;
  font-size: 12px;
  cursor: pointer;
}

.dropdown > div:nth-child(2) p {
  cursor: pointer;
}

.dropdown > div:nth-child(3) {
  height: 20vh;
  overflow: scroll;
  border: 1px solid #808393;
  border-radius: 5px;
  border-top: 5px solid #00aaaa;
}

.dropdown > div:nth-child(3) ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown > div:nth-child(3) div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px;
}

.dropdown > div:nth-child(3) li {
  cursor: pointer;
}

body {
  margin: 10px;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 20px;
}

hr {
  margin: 25px 20px;
}

p {
  margin: 0;
}
/*# sourceMappingURL=style.css.map */