@import './variables';
@import './mixing';
@import './searchBar';
@import './dropdown';
@import './card';

body {
  margin: 10px;
  font-family: $mainFont;

  // For tablets
  @media (max-width: 961px) and (min-width: 767px){
    margin: 10px 30px;
  }

  // For PC
  @media (min-width: 962px){
    margin: 10px 50px;
  }
}

h1 {
  font-size: 20px;
}

hr {
  margin: 25px 20px;
}

p {
  margin: 0;
}